<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    body {
        background-image: url("https://images3.alphacoders.com/701/701880.png");
        background-position: center top; 
        }
    </style>
</head>
<body>
    <center><br>
        <br>
        <br><br><br><br><br><br><br>
    <h1><b>Masukkan Nama Digimonmu</b></h1>
    <hr>
    <form method='POST' action='http://localhost:5000/FoundDigi'>
        <input type='text' name='digimon' placeholder="Masukkan Nama Digimon..."/>
        <input type='submit' value='Cari Digimon'/>
    </form>
    </center>
</body>
</html>